#main {width:700px; margin: auto;}
.comment-item {clear: both;}
.comment-date, .comment-content {width:100%;}
.comment-date {color: #808080; font-size: 10px; font-style: italic;}
textarea {resize: none;}