
<form class="well " method="POST" action="/create">
    <div class="row">
        <div class="span5">
            <label>Комментарий</label>
            <textarea name="message" id="message" class="input-xlarge span5" rows="3" cols="83"></textarea>
        </div>
        <div class="span5">
            <button type="reset" class="btn btn-primary pull-right">Отмена</button>
            <button type="submit" class="btn btn-primary pull-right">Добавить комментарий</button>
        </div>
    </div>
</form>